<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manipulated Images</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 min-h-screen flex items-center justify-center">
    <div class="max-w-md p-6 bg-white rounded-md shadow-md">
        <h1 class="text-2xl font-bold mb-4">Manipulated Images</h1>
        
        <!-- Latent Point 1 -->
        <div class="mb-4">
            <h2 class="text-lg font-semibold">Latent Point 1</h2>
            <img src="data:image/png;base64,{{ img_str_1 }}" alt="Latent Point 1" class="mt-2 rounded-md shadow-md">
        </div>

        <!-- Latent Point 2 -->
        <div class="mb-4">
            <h2 class="text-lg font-semibold">Latent Point 2</h2>
            <img src="data:image/png;base64,{{ img_str_2 }}" alt="Latent Point 2" class="mt-2 rounded-md shadow-md">
        </div>

        <!-- Latent Point 3 -->
        <div class="mb-4">
            <h2 class="text-lg font-semibold">Latent Point 3</h2>
            <img src="data:image/png;base64,{{ img_str_3 }}" alt="Latent Point 3" class="mt-2 rounded-md shadow-md">
        </div>

        <!-- Manipulated Image -->
        <div class="mb-4">
            <h2 class="text-lg font-semibold">Manipulated Image</h2>
            <p class="mt-2">Latent Point 1 - Latent Point 2 + Latent Point 3</p>
            <img src="data:image/png;base64,{{ img_str_manipulated }}" alt="Manipulated Image" class="mt-2 rounded-md shadow-md">
        </div>

        <!-- Button to generate a new face -->
        <form action="/generate_new_face" method="post">
            <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-md mb-5">Generate New Face</button>
        </form>
        <a href="/" class="mt-4 bg-blue-500 text-white py-2 px-4 rounded-md mt-5">Back to Home</a>
    </div>
</body>
</html>
